{% extends 'index.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-4 mb-5 pb-5">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}

                        <div class="alert alert-danger" role="alert">{{ message }}</div>

                    {% endfor %}
                {% endif %}

                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Nom d'utilisateur</label>
                    <input type="text" class="form-control" name="username" id="usernameInput">
                  </div>
                  <div class="mb-3">
                    <label for="passwordInput" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" name="password" id="passwordInput">
                  </div>      

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}